@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

:root {
  --min-width-screen: 600px;
}

/* themes */
html.theme1 {
  /*** default theme ***/
  /** bg **/
  --main-bg: hsl(0, 0%, 90%);
  --toggle-bg: hsl(0, 5%, 81%);
  --keypad-bg: hsl(0, 5%, 81%);
  --screen-bg: hsl(0, 0%, 93%);

  /** keys **/

  /* third section */
  /* color for the numbers */
  --key-bg: hsl(45, 7%, 89%);
  --key-shadow: hsl(35, 11%, 61%);

  /* second section */
  /* color for the equal and the toggle button */
  --key-bg2: hsl(25, 98%, 40%);
  --key-shadow2: hsl(25, 99%, 27%);

  /* first section - for background 3*/
  /* color for the delete and reset*/
  --key-bg3: hsl(185, 42%, 37%);
  --key-shadow3: hsl(185, 58%, 25%);

  /** text **/
  --color: hsl(60,10%, 19%);
  --color2: hsl(0, 0%, 100%);
}

html.theme2 {
  --main-bg: hsl(222, 26%, 31%);
  --toggle-bg: hsl(223, 31%, 20%);
  --keypad-bg: hsl(223, 31%, 20%);
  --screen-bg: hsl(224, 36%, 15%);

  --key-bg: hsl(30, 25%, 89%);
  --key-shadow: hsl(28, 16%, 65%);
  --key-bg2: hsl(6, 63%, 50%);
  --key-shadow2: hsl(6, 70%, 34%);
  --key-bg3: hsl(225, 21%, 49%);
  --key-shadow3: hsl(224, 28%, 35%);

  --color: hsl(221, 14%, 31%);
  --color2: hsl(0, 0%, 100%);
}

html.theme3 {
  --main-bg: hsl(268, 75%, 9%);
  --toggle-bg: hsl(268, 71%, 12%);
  --keypad-bg: hsl(268, 71%, 12%);
  --screen-bg: hsl(268, 71%, 12%);

  --key-bg: hsl(268, 47%, 21%);
  --key-shadow: hsl(290, 70%, 36%);
  --key-bg2: hsl(176, 100%, 44%);
  --key-shadow2: hsl(177, 92%, 70%);
  --key-bg3: hsl(281, 89%, 26%);
  --key-shadow3: hsl(285, 91%, 52%);

  --color: hsl(52, 100%, 62%);
  --color2: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--main-bg);
  color: white;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 100%;
  height: 100%;
}

.container {
  margin: 30px auto;
  padding: 1em;
  max-width: 500px;
}

.top-bar {
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 2.5rem;
  transform: translateY(12.5px);
}

.switch-toggle,
.logo {
  color: var(--color);
}

.switch-toggle {
  display: flex;
  align-items: end;
}

.switch-toggle .wrapper {
  display: flex;
  flex-direction: column;
  width: 125px;
  margin-left: 1.5em;
}

.switch-toggle .wrapper .numbers > *,
.radio-wrapper input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch-toggle .wrapper .numbers,
.radio-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.radio-wrapper {
  border-radius: 2rem;
  background-color: var(--toggle-bg);
  padding: 0.5em 0;
}

.radio-wrapper input {
  appearance: none;
  display: none;
}

.radio-wrapper label {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: background-color 0.1s ease-in;
  transform: none;
  position: relative;
  cursor: pointer;
}

.radio-wrapper input:checked + label {
  background-color: var(--key-bg2);
}

.screen {
  margin-bottom: 2rem;
}

.result {
  color: var(--color);
  background-color: var(--screen-bg);
  font-size: 3rem;
  padding: 1.25rem 1.5rem;
  text-align: right;
}

.result span {
  display: block;
}

.result span:nth-child(1) {
  height: 72px;
  overflow-x: auto;
  
}

.result span:nth-child(2) {
  font-size: 1.5rem;
  height: 36px;
  filter: brightness(0.8);
}

.number-grid {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(5, minmax(0, 1fr));
  gap: 0.75rem;
  background-color: var(--keypad-bg);
}

.result,
.number-grid {
  border-radius: 0.5rem;
}

button[value="RESET"],
button[value="="] {
  grid-column: span 2;
}

.number-grid > * {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  color: var(--color2);
  background-color: var(--key-bg);
  box-shadow: 0 3px 0px var(--key-shadow);
}

.number-grid > *:hover,
.radio-wrapper label:hover {
  filter: brightness(1.1);
}

.number-grid > *:active {
  box-shadow: none;
}

.number {
  font-size: 32px;
  color: var(--color);
}

button[value="DEL"],
button[value="RESET"] {
  background-color: var(--key-bg3);
  box-shadow: 0 5px 0px var(--key-shadow3);
}

button[value="="] {
  background-color: var(--key-bg2);
  box-shadow: 0 5px 0px var(--key-shadow2);
}



@media (min-width: 500px) {
  .number-grid {
    gap: 1.5em;
    padding: 1.5em;
  }
}
